@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}
body {
    background-image: linear-gradient(45deg, #BFB78F, #A5A692);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #544e3180;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    text-align: center;
    color: #025E73 ;
    text-shadow: 1px 1px 2px #0129329e ;
}
h2 {
    color: #F2A71B ;
}
p {
    text-align: justify;
}